# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local
# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
*.html
!**/templates/*.html
.env*

node_modules

*.txt