service: serverless-web-forms
frameworkVersion: "3"
useDotenv: true
# Our serverless infra provider section
provider:
  name: aws
  stage: ${opt:stage, 'staging'}
  tags:
    Project: serverless-web-forms
    Stage: ${self:provider.stage}
  runtime: nodejs20.x
  region: us-east-1
  lambdaHashingVersion: 20201221
  environment:
    NODE_ENV: ${self:provider.stage}
    ENTRIES_TABLE: ${self:service}-${self:provider.stage}
    SNS_TOPIC_ARN: !Ref FormsSNSTopic
  apiGateway:
    shouldStartNameWithService: true
    apiKeys:
      - name: website-${self:provider.stage}
    usagePlan:
      quota:
        limit: 300
        offset: 2
        period: MONTH
      throttle:
        burstLimit: 2
        rateLimit: 1
  iamRoleStatements:
    - Effect: Allow
      Action:
        # - dynamodb:Query
        # - dynamodb:Scan
        # - dynamodb:GetItem
        # - dynamodb:PutItem
        # - dynamodb:DeleteItem
        # - dynamodb:UpdateItem
        - ses:SendTemplatedEmail
        - sts:AssumeRole
        - sns:Publish
      Resource: "*"
# Serverless functions
functions:
  formSubmission:
    handler: index.submit
    memorySize: 128
    timeout: 30
    environment:
      VERIFICATION_FROM_EMAIL_ADDR: ${env:VERIFICATION_FROM_EMAIL_ADDR}
      SERVICE_DESK_USERNAME: ${env:SERVICE_DESK_USERNAME}
      SERVICE_DESK_API_KEY: ${env:SERVICE_DESK_API_KEY}
      SERVICE_DESK_DOMAIN: ${env:SERVICE_DESK_DOMAIN}
      PUBLIC_FRIENDLY_CAPTCHA_API_KEY: ${env:PUBLIC_FRIENDLY_CAPTCHA_API_KEY}
      PUBLIC_FRIENDLY_CAPTCHA_SITEKEY: ${env:PUBLIC_FRIENDLY_CAPTCHA_SITEKEY}
    description: Create ticket and send the confirmation email.
    events:
      - http:
          path: formSubmit
          method: post
          private: true
          cors:
            origin: "*"
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
resources:
  Resources:
    FormsSNSTopic:
      Type: "AWS::SNS::Topic"
      Properties:
        TopicName: ServerlessFormsTopic-${self:provider.stage}
    # FormEntriesDynamoDbTable:
    #   Type: "AWS::DynamoDB::Table"
    #   DeletionPolicy: Retain
    #   Properties:
    #     AttributeDefinitions:
    #       - AttributeName: "id"
    #         AttributeType: "S"
    #     KeySchema:
    #       - AttributeName: "id"
    #         KeyType: "HASH"
    #     ProvisionedThroughput:
    #       ReadCapacityUnits: 1
    #       WriteCapacityUnits: 1
    #     StreamSpecification:
    #       StreamViewType: "NEW_AND_OLD_IMAGES"
    #     TableName: ${self:provider.environment.ENTRIES_TABLE}
package:
  exclude:
    - ./form_data.json
    - ./package.json
    - ./setup_form_data.js
    - ./yarn.lock
    - ./config/**
    - ./templates/**
    - ./html_examples/**
  include:
    - ./index.js
    - ./form_data.json
plugins:
  - serverless-offline
  - serverless-plugin-scripts
  - "@haftahave/serverless-ses-template"
custom:
  scripts:
    commands:
      collectFormData: node setup_form_data.js --path config/formConfig.json --outPath form_data.json
  sesTemplates:
    addStage: true # Specifies whether to add stage to template name (default false)
    configFile: "./ses-template.js" # Config file path (default './ses-email-templates/index.js')
    disableAutoDeploy: false
    region: "us-east-1" # Specifies AWS region for SES templates (not required)
